/* line 4, ../../sass/style.scss */
body {
  background: rgba(10, 10, 10, 0.9);
  background: url("../images/background.jpg") no-repeat center fixed;
  background-size: cover;
  color: #ccc;
}

/* line 11, ../../sass/style.scss */
.container, .well {
  background: rgba(10, 10, 10, 0.9);
}

/* line 19, ../../sass/style.scss */
.navbar-nav {
  margin: 0;
  padding: 0 15px;
}
