<div class="col-sm-6 page-content">
On the right (or below if you're on a smaller screen), you'll see a list of technologies I'm using on this site. Some of the technologies have dedicated pages to use as demonstrations for what they do, whereas others are just used in general over the site, such as SASS.
</div>
<div class="col-sm-6">
	<ul>
		<li><a target="_blank" href="http://angularjs.org">Angular.js</a></li>
		<li><a target="_blank" href="http://getbootstrap.com">Bootstrap</a></li>
		<li><a target="_blank" href="http://sass-lang.com">SASS</a></li>
	</ul>
</div>
 