<!DOCTYPE html>
<head>
  <title>Alistair's Web Playground</title>
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<!-- need to assign the angular app and controller to use. App will control the routing, controller will control the pages -->
<body ng-app="PlaygroundApp" ng-controller="PageController as page">

  <!-- normal nav bar -->
  <nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navBar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>      
        <div 
          class="navbar-brand"            
          ng-click="page.setPage('About')" 
          ng-class="{active:page.isCurrentPage('About')}">
            <a href="#/">Al's demo site</a>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="navBar">
        <ul class="nav navbar-nav navbar-right">
        <!-- angular
              routing sets the # to load the correct template
              click binds the event to the relevant property
              class sets the class as active -->
          <li 
            ng-click="page.setPage('About')" 
            ng-class="{active:page.isCurrentPage('About')}">
              <a href="#about">About</a>
          </li>
          <li 
            ng-click="page.setPage('Portfolio')" 
            ng-class="{active:page.isCurrentPage('Portfilio')}">
              <a href="#portfolio">Portfolio</a>
          </li>
          <!-- dropdown menu -->
          <li class="dropdown">
            <a href="" data-toggle="dropdown">
              Technologies
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li
                ng-click="page.setPage('Technologies')" 
                ng-class="{active:page.isCurrentPage('Technologies')}">
                  <a href="#technologies">Technologies on this site</a>
              </li>
             <li
                ng-click="page.setPage('Angular')" 
                ng-class="{active:page.isCurrentPage('Angular')}">
                  <a href="#technologies/angular">Angular</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="well" ng-controller="PageController"><h1>{{page.currentPage}}</h1></div>
      </div>
    </div>
    <div class="row page-content">
      <div ng-view></div>
    </div>
  </div>

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <script src="js/app.js"></script> 
  <script src="js/model.js"></script>
  <script src="js/controllers.js"></script>
</body>
</html>